<div>
    <table class="table">
        <tr>
            <td>
                <form [formGroup]="questionsForm" novalidate #qform>
                    <div *ngIf="isMakeQuestion" class="form-group">
                        <label for="key">Enter Key</label>
                        <input type="text" name="" id="key" formControlName="key" /><hr/>
                        <label for="label">Enter Label</label>
                        <input type="text" name="" id="label" formControlName="label" /><hr/>
                        <label for="value">Enter Value</label>
                        <input type="text" name="" id="value" formControlName="value" /><hr/>
                        <label for="type">Enter Type</label>
                        <input type="text" name="" id="type" formControlName="type" /><hr/>
                        <button (click)="addToDbase()">Add to Database</button>
                       </div>
                   </form>
            </td>
            <td>
                <button (click)="makeQuestion();qform.reset()">Make Question</button><hr/>
            </td>
        </tr>
    </table>
   <h2>Dynamic Questions Made from Databse</h2>
   <div>
    <app-dynamic-form [qbases]="QBases$ | async"></app-dynamic-form>
   </div>
   
</div>


